<form class="product-form" action="<% if(product){ %>/admin/edit-product/<%= product.id %> <% }else{ %>/admin/add-product<% } %>" method="POST">
  <div class="form-control">
    <label for="title">Title</label>
    <input type="text" name="title" id="title" value="<% if (product) { %> <%= product.title  %> <% } %>">
  </div>
  <div class="form-control">
    <label for="imageUrl">Image URL</label>
    <input type="text" name="imageUrl" id="imageUrl" value="<% if (product) { %> <%= product.imageUrl  %> <% } %>">
  </div>
  <div class="form-control">
    <label for="price">Price</label>
    <input type="number" name="price" id="price" step="0.01" value="<% if (product) { %><%= product.price  %><% } %>">
  </div>
  <input type="hidden" name="id" id="id" value="<% if (product) { %><%= product.id  %><% } %>">
  <div class="form-control">
    <label for="description">Description</label>
    <textarea name="description" id="description" rows="5"><% if (product) { %> <%= product.description  %> <% } %></textarea>
  </div>

  <button class="btn" type="submit"><% if(product){ %>Edit Product<% } else { %>Add Product<% } %> </button>
</form>